{% extends "layout.html" %}

{% block title %}
    About
{% endblock title %}

{% block main %}
    <div class="container mt-5" style="width:70%">
        <h2>About this project</h2>
        <p class="about-text"> This Project was made for the final Project of CS50x</p>
        <p class="about-text"> My name is Soheil Zeinali</p>
        <p class="about-text"> Githhub Link :<a href="https://github.com/solishz">Click here</a></p>
        <p class="about-text"> Gmail : war.ogre4@gmail.com</p>
    </div>
{% endblock main %}