{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock title %}

{% block main %}
    <!-- Log in Form -->
    <div class="container mt-5">
        <h3>Log in Form</h3>
    </div>
    <div class="container mt-5">
        <form method="post" action="/login">
            <input autocomplete="off" autofocus placeholder="Username" type="text" name="username" class="form-control mx-auto w-auto mb-3" required>
            <input type="password" placeholder="Password" name="password" class="form-control mx-auto w-auto mb-3" required>
            <button type="submit" class="btn mt-3 login-button">Log in</button>
            <h5 class="mt-4">Don't have an account yet? <a href="/register"> Sign up </a></h5>
        </form>
    </div>
{% endblock main %}