{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock title %}

{% block main %}
    <!-- Log in Form -->
    <div class="container mt-5">
        <h3>Registration Form</h3>
    </div>
    <div class="container mt-5">
        <form method="post" action="/register">
            <input autocomplete="off" autofocus placeholder="Username" type="text" name="username" class="form-control mx-auto w-auto mb-3" required>
            <input type="password" placeholder="Password" name="password" class="form-control mx-auto w-auto mb-3" required>
            <input type="password" placeholder="Password Confirmation" name="confirmation" class="form-control mx-auto w-auto mb-3" required>
            <button type="submit" class="btn mt-3 login-button">Register</button>
        </form>
    </div>
{% endblock main %}